.evenspace {
    justify-content: space-around;
    display: flex;
    
}

.textcenter {
    text-align: center;
}


body {
    font-family: Teko;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

.priceBorder {
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
    margin-right: 1300px;
    padding-left: 15px;

}