.evenspace {
    justify-content: space-around;
    display: flex;
    
}

.textcenter {
    text-align: center;
}


body {
    font-family: Teko;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}